 {% extends 'base.html.twig' %} 

{% block title %}New ReponseReclamation{% endblock %}

{% block body %}
    <h1>Create new ReponseReclamation</h1>

    {{ include('reponse_reclamation/_form.html.twig') }}

    <a href="{{ path('app_reponse_reclamation_index') }}">back to list</a>
{% endblock %}
