

{% extends "admin/base.html.twig" %}


{% block body %}
    <h1>Create new Cours</h1>

    {{ include('cours/_form.html.twig') }}

    <a href="{{ path('app_cours_index') }}">back to list</a>
{% endblock %}
