{% extends "admin/base.html.twig" %}
{% block body %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
        <center>
        <h3><a class="primary-btn pricing-btn" > New Command </a></h3>
        </center>
        <br>
          <!-- Page Heading -->
          {# <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> #}

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">LIST COMMAND</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                {% if command is not empty %}
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Produit</th>
          <th>Prix</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for command in command %}
          <tr>
            <td>{{ command.id }}</td>
            <td>{{ command.produit.nom }}</td>
            <td>{{ command.produit.prix }}</td>
            <td>{{ command.total|number_format(2, ',', '.') }} DT</td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucune commande trouvée.</p>
  {% endif %}

              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

     
      <!-- End of Main Content -->
{% endblock  %}
     