<div class="container">
    <div>
        <h1>Terms and Conditions of Website Use <small></small></h1>
    </div>
    <ol class="breadcrumb">
        <li><a href="https://www.random.org/">RANDOM.ORG</a></li>
        <li><a href="/terms/2020-08-01">Terms and Conditions</a></li>
        <li class="active">Website Use</li>

    </ol>

    <div class="row">

        <div class="col-md-12">

            <p>
                Last updated on 1 August 2020
            </p>

            <h2>
                1. Terms of Website Use
            </h2>

            <p>
                These terms of use (the ‘<strong>Terms of Use</strong>’), our <a href="privacy">Privacy Notice</a> and
                <a href="cookies">Cookie Policy</a> will govern your access to and use of the website <a
                        href="https://www.random.org/">www.random.org</a>, as well as the websites listed <a
                        href="websites">here</a> (together the ‘<strong>Site</strong>’), including any content,
                functionality, and services offered by us through the Site, whether as a guest or a member. Some of the
                services available on the Site are available free of charge, while other services require payment. Where
                a service requires payment, this will be made clear to you in advance, and your use of such services
                will be subject to our subscription terms (‘<strong><a href="subscription">Subscription
                        Terms</a></strong>’) in addition to the terms listed in this paragraph.
            </p>

            <p>
                Please read these Terms of Use carefully before you start to use the Site. By using the Site, you agree
                that you accept these Terms of Use and you agree to abide by them. If you do not agree to these Terms of
                Use or the Subscription Terms (where applicable), then you must not use this Site or order services from
                it.
            </p>

            <h2>
                2. Information about Us
            </h2>

            <p>
                The Site is operated by Randomness and Integrity Services Limited (‘<strong>we</strong>’,
                ‘<strong>us</strong>’ or ‘<strong>RANDOM.ORG</strong>’). RANDOM.ORG is registered in Ireland under
                company number 489434 and has its registered office at Premier Business Centres, 8 Dawson Street, Dublin
                2, D02N767, Ireland. Our VAT number is 9769936F.
            </p>

            <h2>
                3. Accessing the Site
            </h2>

            <p>
                We reserve the right to withdraw or amend the Site without notice (see below). We will not be liable if
                for any reason the Site is unavailable at any time or for any period. From time to time, we may restrict
                access to some parts of the Site, or our entire Site, to certain users who have registered with us
                (‘<strong>Members</strong>’).
            </p>

            <p>
                If you have a log-in or password connected with the Site, you must treat such information as
                confidential, and you must not disclose it to any third party. You alone are responsible for keeping
                your password secure. You must notify us at the following email address <a
                        href="mailto:contact@random.org">contact@random.org</a> as soon as possible if you know or
                suspect any unauthorised use of your account, user ID, password, or of any other security breach. You
                are responsible for anything that happens through your account or password, until you report misuse to
                us. We have the right to disable any log-in or password, whether chosen by you or allocated by us, at
                any time, if in our opinion you have failed to comply with any of the provisions of these Terms of Use.
            </p>

            <p>
                You must provide accurate, current and complete information about yourself when registering for an
                account on the Site (‘<strong>Registration Data</strong>’). You must also update your Registration Data,
                and any other information you provide to RANDOM.ORG, as necessary to keep it accurate, current and
                complete.
            </p>

            <p>
                By continuing to access the Site and/or registering a user account, you confirm that: (a) you agree to
                be bound by these Terms of Use; (b) you are not a person banned or restricted from access or using the
                Site; (c) you will comply with all applicable laws; (d) your use of or access to the Site does not
                violate any applicable law and (e) if you are acting on behalf of a company, that you are authorised to
                bind that company to these Terms of Use.
            </p>

            <p>
                You are responsible for making all arrangements necessary for you to have access to or use of the Site
                and for ensuring that your device and computer software meets the minimum specifications and is
                configured correctly. You should use your own virus protection and firewall software. You are also
                responsible for ensuring that all persons who access the Site through your internet connection are aware
                of these Terms of Use, and that they comply with them.
            </p>

            <p>
                <strong>This paragraph only applies to consumers:</strong> If you are a consumer user (i.e., using the
                Site or its Services other than for purposes of your business or trade), you may benefit from certain
                additional consumer law protections.
            </p>

            <h2>
                4. Intellectual Property Rights
            </h2>

            <p>
                All content (excluding User Content, as defined below) on the Site, including but not limited to
                designs, text, graphics, pictures, video, information, applications, software, music, sound and other
                files, and their selection and arrangement (together the ‘<strong>Site Content</strong>’), are the
                intellectual property of RANDOM.ORG or its licensors, with all rights reserved.
            </p>

            <p>
                No Site Content may be modified, copied, distributed, framed, reproduced, republished, downloaded,
                displayed, posted, transmitted, or sold in any form or by any means, in whole or in part, without
                RANDOM.ORG's prior written permission. Provided that you are eligible for use of the Site, you are
                granted a limited license to access and use the Site and the Site Content and to download or print one
                copy of any portion of the Site Content to which you have properly gained access solely for your
                personal, non-commercial use, provided that you keep all copyright or other proprietary notices intact.
                Further rights may be granted on the purchase of any services that we make available on the Site
                (‘<strong>Services</strong>’), which are governed by our Subscription Terms. Any use of the Site or the
                Site Content other than as specifically authorized herein, without the prior written permission of
                RANDOM.ORG, is strictly prohibited and will immediately terminate the license granted herein without
                further notice to you and you must, at our option, return or destroy any copies of the materials you
                have made. Such unauthorized use may also violate applicable laws including, without limitation,
                copyright and trademark laws and applicable communications regulations and statutes. Except where
                expressly stated herein, nothing in these Terms of Use shall be construed as granting any intellectual
                property rights to you, whether by estoppel, implication or otherwise.
            </p>

            <p>
                You must not modify the paper or digital copies of any materials you have printed off or downloaded in
                any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics
                separately from any accompanying text. Our status (and that of any identified contributors) as the
                authors of Site Content must always be acknowledged.
            </p>

            <p>
                You may not upload or republish Site Content on any internet, intranet or extranet site or incorporate
                the information in any other database or compilation, unless otherwise agreed in writing in advance with
                RANDOM.ORG.
            </p>

            <h2>
                5. User Content and Uploading Material to the Site
            </h2>

            <p>
                Subject to compliance with these Terms of Use, you may post or link to content or applications or
                provide comments for others to see on or to the Site (‘<strong>User Content</strong>’). If you post,
                link to, or otherwise contribute User Content, you guarantee, represent and warrant to us that:
            </p>

            <ol class="bracketed lower-roman">
                <li>
                    You have legal rights to post, contribute or link to such User Content and it will not violate any
                    law or the rights of any person;
                </li>
                <li>
                    While you or the rightful owner of the User Content retain all of the ownership rights in the User
                    Content, you give us (and have the necessary rights to give us) the royalty-free, irrevocable,
                    perpetual, worldwide right to allow other people to view the User Content and to use, distribute,
                    modify, display, publicly perform, and create derivative works from the User Content, in any and all
                    media, in any manner, in whole or in part, without any restriction, responsibilities or recourse to
                    you; and
                </li>
                <li>
                    You are entirely responsible for all User Content you upload, post, e-mail, transmit or otherwise
                    make available in any way by or through the Site.
                </li>
            </ol>

            <p>
                Whenever you make use of a feature that allows you to upload User Content to the Site, or to make
                contact with other users of the Site, you must comply with the content standards set out in these Terms
                of Use. You warrant that any such contribution does comply with those standards, and, in the case of
                non-consumer users of the Site, you indemnify us for any breach of that warranty. Any User Content you
                upload to the Site will be considered non-confidential and non-proprietary, and we have the right to
                use, copy, distribute and disclose to third parties any such User Content for any purpose.
            </p>

            <p>
                We will not be responsible, or liable to any third party, for the content or accuracy of any User
                Content posted by you or any other user of the Site.
            </p>

            <p>
                Any User Content you upload that contains personal information will be governed by our <a
                        href="privacy">Privacy Notice</a>.
            </p>

            <p>
                We have the right to remove any User Content you post on the Site if, in our opinion, such material does
                not comply with the content standards set out in these Terms of Use.
            </p>

            <h2>
                6. Prohibited Uses
            </h2>

            <p>
                You may use the Site only for lawful purposes. You may not use the Site:
            </p>

            <ol class="bracketed lower-roman">
                <li>
                    in any way that breaches any applicable local, national or international law or regulation;
                </li>
                <li>
                    in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect
                    (including but not limited to manipulation, distortion or misrepresentation of any results that we
                    provide to you);
                </li>
                <li>
                    for the purpose of harming or attempting to harm minors in any way;
                </li>
                <li>
                    to send, knowingly receive, upload, download, use or re-use any material which does not comply with
                    our content standards;
                </li>
                <li>
                    to transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional
                    material or any other form of similar solicitation (spam);
                </li>
                <li>
                    to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses,
                    worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programmes or similar
                    computer code designed to adversely affect the operation of any computer software or hardware.
                </li>
            </ol>

            <p>
                You also agree:
            </p>

            <ol class="bracketed lower-roman">
                <li>
                    not to reproduce, duplicate, copy or re-sell any part of the Site in contravention of the provisions
                    of these Terms of Use.
                </li>
                <li>
                    not to access without authority, interfere with, damage or disrupt:
                    <ol type="a">
                        <li>
                            any part of the Site;
                        </li>
                        <li>
                            any equipment or network on which the Site is stored;
                        </li>
                        <li>
                            any software used in the provision of the Site; or
                        </li>
                        <li>
                            any equipment or network or software owned or used by any third party.
                        </li>
                    </ol>
                </li>
            </ol>

            <h2>
                7. Content Standards
            </h2>

            <p>
                These content standards apply to any and all User Content which you contribute to the Site, and to your
                use of any Interactive Services associated with it (‘<strong>Contribution(s)</strong>’).
            </p>

            <p>
                These content standards are without prejudice to the generality of these Terms of Use. You must comply
                with the spirit of the following content standards as well as the letter. The standards apply to each
                part of any Contribution as well as to its whole.
            </p>

            <p>
                Contributions must:
            </p>

            <ol class="bracketed lower-roman">
                <li>
                    be accurate (where they state facts);
                </li>
                <li>
                    be genuinely held (where they state opinions);
                </li>
                <li>
                    comply with applicable law in Ireland and in any country from which they are posted.
                </li>
            </ol>

            <p>
                Contributions must not:
            </p>

            <ol class="bracketed lower-roman">
                <li>
                    contain any material which is defamatory of any person;
                </li>
                <li>
                    contain any material which is racist, sexist, obscene, offensive, hateful, inflammatory or otherwise
                    objectionable to us, our staff, or any other individuals;
                </li>
                <li>
                    promote sexually explicit material;
                </li>
                <li>
                    promote violence;
                </li>
                <li>
                    infringe any copyright, database right or trade mark of any other person;
                </li>
                <li>
                    be likely to deceive any person;
                </li>
                <li>
                    be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of
                    confidence;
                </li>
                <li>
                    promote any illegal activity;
                </li>
                <li>
                    be threatening, abuse or invade another's privacy, or cause annoyance, inconvenience or needless
                    anxiety;
                </li>
                <li>
                    be likely to harass, upset, embarrass, alarm or annoy any other person;
                </li>
                <li>
                    be used to impersonate any person, or to misrepresent your identity or affiliation with any person;
                </li>
                <li>
                    give the impression that they emanate from us, if this is not the case;
                </li>
                <li>
                    advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement
                    or computer misuse.
                </li>
            </ol>

            <h2>
                8. Reliance on Information Posted
            </h2>

            <p>
                Any commentary and other materials posted on the Site by third parties are not intended to amount to
                advice and should not be relied upon. We are not liable for any loss or damage suffered by you, or any
                third party, arising from any reliance placed on such materials by you, or by anyone who may be informed
                of any of its contents.
            </p>

            <h2>
                9. The Site Changes Regularly
            </h2>

            <p>
                We aim to ensure that the Site is accurate at the time of publication, however, the Site or its features
                may change without notice and we may withdraw or amend the Site (or any part of it) or add or remove any
                features without notice. We are under no obligation to update the Site and we make no representations,
                warranties or guarantees (whether express or implied) that Site Content or the Site is accurate,
                complete, or up-to-date.
            </p>

            <h2>
                10. Our Liability
            </h2>

            <p>
                Except as provided under this section, we shall not be liable for: (a) any indirect, consequential,
                incidental, punitive, exemplary or special losses arising under or in connection with a Contract,
                whether arising in contract, tort (including negligence), misrepresentation or otherwise; or (b) loss of
                data/ programs, anticipated savings, loss of revenue, profits or goodwill, even if the loss or damages
                was reasonably foreseeable or we have been advised of the possibility of such damages.
            </p>

            <p>
                Subject to the remaining provisions of this section, our maximum aggregate liability to you, whether in
                contract, tort (including negligence) or otherwise, will not exceed €500.
            </p>

            <p>
                Nothing in these Terms of Use excludes or limits our liability for:
            </p>

            <ol class="bracketed lower-alpha spacious">
                <li>
                    death or personal injury caused by our negligence;
                </li>
                <li>
                    fraud or fraudulent misrepresentation; or
                </li>
                <li>
                    any other matter for which it would be illegal for us to exclude or attempt to exclude our
                    liability.
                </li>
            </ol>


            <h2>
                11. Indemnification
            </h2>

            <p>
                You agree to indemnify and hold RANDOM.ORG, and its subsidiaries, affiliates, officers, managers,
                members, agents, co-branders or other partners, and employees, harmless from any claim or demand,
                including reasonable legal fees, made by any third party due to or arising out of your use of the Site,
                your violation of these Terms of Use, or your violation of any rights of a third party.
            </p>

            <h2>
                12. Data Protection
            </h2>

            <p>
                We process information about you in accordance with our Privacy Notice as may be amended by us from time
                to time. By using the Site, you consent to such processing and you warrant that all data provided by you
                is accurate. If you are a data controller (within the meaning of the GDPR), you warrant that all
                information provided by you is shared with us in accordance with applicable law.
            </p>

            <p>
                If any applicable law or regulation requires it, or if we determine that such disclosure is necessary in
                connection with any investigation or complaint regarding your access or use of the Site or User Content,
                we may disclose any information we hold about you including your identity.
            </p>

            <h2>
                13. Transactions Concluded through the Site
            </h2>

            <p>
                Contracts for the supply of Services are governed by our Subscription Terms and these Terms of Use.
            </p>

            <h2>
                14. Viruses, Hacking and Other Offences
            </h2>

            <p>
                By breaching the Prohibited Uses set out in these Terms of Use, you may be guilty of a criminal offence.
                We will report any such breach to the relevant law enforcement and regulatory authorities, and we will
                co-operate with those authorities by disclosing relevant information to them. In addition, where we
                reasonably believe that a publication by you of results that we provide to you contains any distortion,
                manipulation, or misrepresentation, we may take such steps as we deem necessary in order to protect us,
                the integrity of the Site and our other users. Notwithstanding any such steps, in the event of such a
                breach, your right to use the Site will cease immediately without further notice to you.
            </p>

            <p>
                We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses
                or other technologically harmful material that may infect your computer equipment, computer programmes,
                data or other proprietary material due to your use of the Site or to your downloading of any material
                posted on it, or on any website linked to it.
            </p>

            <h2>
                15. Linking to the Site
            </h2>

            <p>
                You may link to our home page, provided you do so in a way that is fair and legal and does not damage
                our reputation or take advantage of it, but you must not publish a link in such a way as to suggest any
                form of association, approval or endorsement on our part where none exists. You may not link in such a
                manner as to suggest any form of association or approval on our part, unless you have received our prior
                written authorisation. You must not frame the Site on any other website, and you must not create a link
                to any part of the Site other than the home page.
            </p>

            <p>
                You must not publish a link on the Site from any website that is not owned by you.
            </p>

            <p>
                We reserve the right to withdraw linking permission without notice, if you violate these Terms of Use.
                The website from which you are linking must comply in all respects with the content standards set out in
                these Terms of Use.
            </p>

            <p>
                If you wish to make any use of material on the Site other than that set out in these Terms of Use,
                please address your request to <a href="mailto:contact@random.org">contact@random.org</a>.
            </p>

            <h2>
                16. Links Contained on the Site
            </h2>

            <p>
                Where the Site contains links to other sites and resources provided by third parties, these links are
                provided for your information only. We have no control over the contents of those sites or resources,
                and accept no responsibility for them or for any loss or damage that may arise from your use of them.
                You access links to other sites at your own risk.
            </p>

            <h2>
                17. Suspension and Termination
            </h2>

            <p>
                We may determine, in our sole discretion, whether there has been a breach of these Terms of Use through
                your use of the Site. When a breach of these Terms of Use has occurred, we may take such action as we
                deem appropriate in the circumstances.
            </p>

            <p>
                Failure to comply with these Terms of Use may result in our taking all or any of the following actions:
            </p>

            <ol class="bracketed lower-roman">
                <li>
                    Immediate, temporary or permanent withdrawal of your right to use the Site;
                </li>
                <li>
                    Immediate, temporary or permanent removal of any Contribution uploaded by you to the Site;
                </li>
                <li>
                    Issue of a warning to you;
                </li>
                <li>
                    Legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but
                    not limited to, reasonable administrative and legal costs) resulting from the breach;
                </li>
                <li>
                    Disclosure of such information to law enforcement authorities as we reasonably believe is necessary.
                </li>
            </ol>

            <p>
                The responses described in this section are not limited, and we may take any other action we deem
                reasonably appropriate.
            </p>

            <h2>
                18. Jurisdiction and Applicable Law
            </h2>

            <p>
                The Irish courts will have exclusive jurisdiction over any claim arising from, or related to, these
                Terms of Use.
            </p>

            <p>
                These Terms of Use and any dispute or claim arising out of or in connection with them or their subject
                matter or formation (including non-contractual disputes or claims) shall be governed by and construed in
                accordance with the laws of Ireland.
            </p>

            <p>
                If you are acting as a consumer, you will benefit from any mandatory provisions of the law of the
                country in which you are resident. Nothing in these Terms of Use, including the paragraphs above,
                affects your rights as a consumer to rely on such mandatory provisions of local law.
            </p>

            <p>
                If you are acting as a consumer, you have the right to refer the dispute to the EU's Online Dispute
                Resolution Platform at http://ec.europa.eu/odr. If you decide to use this service, please use the
                following email address when asked for the trader's email address when completing the form: <a
                        href="mailto:contact@random.org">contact@random.org</a>
            </p>

            <h2>
                19. Variations
            </h2>

            <p>
                We may revise these Terms of Use at any time by amending this page, for example, to reflect changes to
                the Site, the needs of our customers, our business plans, or changes in law. You must check this page
                from time to time to take notice of any changes we made, as they are binding on you. If we make a
                material change, we will try to provide you with reasonable notice through the Site or by other means.
                If you do not agree to a change, you may close your account and stop accessing or using the Site. Your
                continued use or access of the Site after we publish or send a notice about a change means that you
                accept the change.
            </p>

            <h2>
                20. Assignment
            </h2>

            <p>
                You are not permitted to assign, transfer, mortgage, charge or deal in any other manner with any or all
                of your rights or obligations under these Terms of Use or your user account unless you have received our
                prior written consent. We may assign these Terms of Use to an affiliate or to a party that buys us
                without your consent.
            </p>

            <h2>
                21. Feedback
            </h2>

            <p>
                By sending us suggestions or other feedback regarding the Site, you agree that we can use and share such
                feedback for any purpose without compensation or obligation to you.
            </p>

            <h2>
                21. Additional Terms
            </h2>

            <h3>
                Entire Agreement
            </h3>

            <p>
                These Terms of Use constitute the entire agreement between you and RANDOM.ORG regarding your use of the
                Site, superseding any prior agreements between you and RANDOM.ORG relating to your use of the Site.
                Neither of us relies on, or will have any remedies in respect of, any representation or warranty
                (whether made innocently or negligently) that is not set out in these Terms of Use or the Subscription
                Terms, or the documents referred to in them.
            </p>

            <h3>
                Waiver
            </h3>

            <p>
                The failure of RANDOM.ORG to exercise or enforce any right or provision of these Terms of Use shall not
                constitute a waiver of such right or provision in that or any other instance.
            </p>

            <h3>
                Severability
            </h3>

            <p>
                If any provision of these Terms of Use shall be deemed invalid, unlawful, void or for any reason
                unenforceable, then that provision shall be severed from these Terms of Use and shall not affect the
                validity and enforceability of any remaining provisions, which shall continue in full force and effect.
            </p>

            <h3>
                Conflict
            </h3>

            <p>
                If there is a conflict between these Terms of Use and the Subscription Terms, the Subscription Terms
                shall take precedence to the extent of such conflict.
            </p>

            <h2>
                22. Your Concerns
            </h2>

            <p>
                If you have any concerns or complaints about material which appears on the Site, or Services which you
                access through the Site, please contact: <a href="mailto:contact@random.org">contact@random.org</a>
            </p>

            <p>
                Thank you for visiting the Site.
            </p>
        </div>
    </div><!-- end of row -->
</div>
