 {% extends 'admin/base.html.twig' %} 


{% block title %}Edit ReponseReclamation{% endblock %}

{% block body %}
    <h1>Edit ReponseReclamation</h1>

    {{ include('reponse_reclamation/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
