

{% block body %}
    <h1>Confirmation de réservation</h1>
    <p>Bonjour {{ user.nom }},</p>
    <p>Nous vous confirmons votre pack est confirme {{ pack.choices }} .</p>

    <p>Merci de votre confiance et à bientôt !</p>
{% endblock %}
